* {
	margin:0;
	padding:0;
}
body {
	color:#61483c;
	font-family: Arial;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1, #about p {
	text-align: center;
}
section {
	margin-top: 1em;
	margin-bottom: 1em;
}
#landing img {
	width: 100%;
}
#landing, #about, #mywork {
	width: 75%;
	margin: 0 auto;
	padding: 1em;
	position: relative;
}
#landing, #mywork {
	background-color: #8ddbe0;
}
#mywork img {
	width: 100%;
}
/*Footer*/
footer{
	margin-bottom: 1em;
	text-align: center;
	font-size: 0.825em;
}

footer .line{
	margin:2em 0;
}