* {
	margin:0;
	padding:0;
}
body {
	color:#777777;
	font-family: Arial;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#landing img {
	width: 50%;
}

#landing, #about, #my-work {
	width: 50%;
	margin: 0 auto;
	position: relative;
}
#my-work img {
	width: 50%;
}
/*Footer*/
footer{
	margin-bottom:1em;
	text-align:center;
	font-size:0.825em;
}

footer .line{
	margin:2em 0;
}