* {
	margin: 0;
}
body {
	color:#61483c;
	font-family: Arial;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1, #about p {
	text-align: center;
}
ul {
	width: 80%;
	margin: auto;
}
ul li {
	padding: 0.5em 0;
}
/* section {
	margin-top: 1em;
	margin-bottom: 1em;
} */
#landing img {
	width: 75%;
}
#contact a img {
	width: 2em;
}
#landing, #about, #mywork, #contact {
	width: 75%;
	margin: 0 auto;
	padding: 1em;
	position: relative;
}
#landing, #mywork {
	background-color: #8ddbe0;
}
#mywork img {
	width: 100%;
}
.contactlinks {
	width: 100%;
	text-align: center;
}
/*Footer*/
footer{
	margin-bottom: 1em;
	text-align: center;
	font-size: 0.825em;
}

footer .line{
	margin:2em 0;
}